<h4>Create New Genre</h4>
<form (submit)="createCategory()">
  <input [(ngModel)]="categoryName" name="categoryName" type="text" placeholder="name" />
  <input [(ngModel)]="categoryDescription" name="categoryDescription" type="text" placeholder="description" />
  <input type="submit"/>
</form>

<div *ngIf="categories">
  <h4>All Genres</h4>
  <ul>
    <li *ngFor="let category of categories">
      {{category.name}} -- {{category.description}}
      <button (click)="deleteCategory(category)">delete</button>
      <form (submit)="createRecipe(category)">
        <input [(ngModel)]="recipeName" name="recipeName" type="text" placeholder="new recipe" />
        <input type="submit"/>
      </form>
    </li>
  </ul>
</div>
