<h4>Create New Genre</h4>
<form (submit)="createGenre()">
  <input [(ngModel)]="genreName" name="genreName" type="text" placeholder="name" />
  <input [(ngModel)]="genreDescription" name="genreDescription" type="text" placeholder="description" />
  <input type="submit"/>
</form>

<div *ngIf="genres">
  <h4>All Genres</h4>
  <ul>
    <li *ngFor="let genre of genres">
      {{genre.name}} -- {{genre.description}}
      <button (click)="deleteGenre(genre)">delete</button>
      <form (submit)="createRecipe(genre)">
        <input [(ngModel)]="songName" name="songName" type="text" placeholder="new song" />
        <input type="submit"/>
      </form>
    </li>
  </ul>
</div>
